<div>
  <div>Dealer's Hand:</div>
  <% session[:dealer_hand].each do |card| %>
      <%= card.to_s %>
    <% end %>
</div>

<br/>

<div>
  <div><%= session[:username] %>'s Hand:</div>
  <div>Total:</div>
  <div>Current Wager: $<%= session[:wager] %></div>
  <div>Total Money: $<%= session[:money] %></div>
  <% session[:player_hand].each do |card| %>
    <%= card.to_s %>
  <% end %>
</div>

<!-- Diplay Hit/Stay buttons IF it's Player's turn -->
<div>
  <% if session[:game_status] == 'PlayersTurn' %>
    <input type="submit" value="Stay" class="btn">
    <input type="submit" value="Hit!" class="btn">
  <% end %>
</div>
